
<%= link_to "Create a new user", new_user_path %> <br/>
<%= link_to "Create a new skill", new_skill_path %> <br/>
<%= link_to "Create a new occupation", new_occupation_path %>


<% @users.each do |user| %>
	<h3><%= link_to user.name, user_path(user.id) %></h3>
<% end %>